.viewQuizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewQuizData{
  width: 70rem;
  border: red 1px solid; 
  margin-top: 10px;
  background-color: green;
}

.viewQuizData h1{
  max-width: 50rem;
  margin: auto;  
  display: flex;
  justify-content: center;
  color: red;
  border: red 1px solid;
  background-color: yellow ; 
  border-radius: 20px;
}
.viewQuizQuestion{
  max-width: 50rem;
  margin: auto;  
  display: flex;
  justify-content: center;
  color: red;
  border: red 1px solid;
  background-color: yellow ; 
  border-radius: 20px;
}

